@import 'tailwindcss';

@theme {
	--color-accent: #2337ff;
	--color-accent-dark: #000d8a;
	--color-ink: rgb(15 18 25);
	--color-muted: rgb(96 115 159);
	--color-subtle: rgb(229 233 240);
	--color-body: rgb(34 41 57);
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
	--shadow-raised:
		0 2px 6px rgb(96 115 159 / 25%), 0 8px 24px rgb(96 115 159 / 33%),
		0 16px 32px rgb(96 115 159 / 33%);
}

@layer base {
	code,
	pre {
		@apply font-mono;
	}
}
